<h1>functional menu sample</h1>
<nav>
    <h2>dynamic tab list</h2>
    <span *ngFor="let tab of tabList">
        <button (click)="tab_click(tab)">
            {{tab.title}}<span *ngIf='IsSelected(tab)'>*</span>
        </button>
        <button (click)="tab_delete(tab)">-</button>
    </span>
    <button (click)="NewTab()">+</button>
</nav>

<hr />
<h2>search condition</h2>
<span *ngFor="let filter of selectedTab.filters">
    <button> {{filter}} </button>
</span>

<hr />
<h2>filtered item list</h2>
<table>
    <thead>
        <th>name</th>
        <th>type</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of filterdItems()">
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
        </tr>
    </tbody>
</table>