<h1>functional menu sample</h1>
<nav>
    <h2>dynamic tab list</h2>
    <span *ngFor="let tab of tabList">
        <button (click)="tab_click(tab)">
            {{tab.title}}<span *ngIf='IsSelected(tab)'>*</span>
        </button>
        <button (click)="tab_delete(tab)">-</button>
    </span>
    <button (click)="NewTab()">+</button>
</nav>

<hr />
<h2>search condition</h2>
<span *ngFor="let filter of selectedTab.filters">
    <button> {{filter}} </button>
</span>

<hr />
<app-items [items]="filterdItems()"></app-items>

